:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
/* 
  color: #0f0f0f;
  background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
} */

input {
  border-radius: 0px!important;
  padding: 0.6em 1.2em!important;
  font-size: 1em!important;
  font-weight: 500!important;
  font-family: inherit;
  color: #0f0f0f;
  border: solid 0.5px !important;
}

button {
  cursor: pointer;
  border-radius: 0;
    height: 60px;
    width: -webkit-fill-available;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

label{
  font-size: larger!important;
  font-weight: 500!important;
}


button {
  border-radius: 8px!important;
  border: 1px solid transparent!important;
  padding: 0.6em 1.2em!important;
  font-size: 1em!important;
  font-weight: 500;
  font-family: inherit!important;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)!important;
}


.titlebar {
  height: 30px!important;
  background: #1875be!important;
  user-select: none!important;
  display: flex!important;
  justify-content: flex-end!important;
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
}
.titlebar-button {
  display: inline-flex!important;
  justify-content: center!important;
  align-items: center!important;
  width: 30px!important;
  height: 30px!important;
 
}
.titlebar-button:hover {
  background: #5bbec3!important;
}



.nav-link
{
  background-color:
  #114e7e ;
}